/target/
/.classpath
/.project
/.settings/

ProyectoJavaCliente/.idea/
ProyectoJavaCliente/socket.iml
ProyectoJavaCliente/target/


ProyectoJavaServidor/.idea/
ProyectoJavaServidor/socket.iml
ProyectoJavaServidor/target/
ProyectoJavaCliente/.classpath
ProyectoJavaCliente/.project
ProyectoJavaCliente/.settings/
