/target/
/.classpath
/.project
/.settings/

.idea/

ProyectoJavaCliente/.idea/
ProyectoJavaCliente/socket.iml
ProyectoJavaCliente/target/


ProyectoJavaServidor/.idea/
ProyectoJavaServidor/socket.iml
ProyectoJavaServidor/target/

ProyectoJavaServidor/.idea/